/* ====== FONTS ====== */
@font-face {
  font-family: 'ClashGrotesk';
  src: url('./font/woff/ClashGrotesk-Extralight.woff') format('woff');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'ClashGrotesk';
  src: url('./font/woff/ClashGrotesk-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'ClashGrotesk';
  src: url('./font/woff/ClashGrotesk-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'ClashGrotesk';
  src: url('./font/woff/ClashGrotesk-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'ClashGrotesk';
  src: url('./font/woff/ClashGrotesk-Semibold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'ClashGrotesk';
  src: url('./font/woff/ClashGrotesk-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Satoshi';
  src: url('./font/Satoshi-Variable.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Satoshi';
  src: url('./font/Satoshi-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

/* ====== BODY ====== */
body {
  background-color: #e30613 !important;
  color: white;
  font-family: 'ClashGrotesk', sans-serif;
  margin: 0;
  padding-left: clamp(2rem, 10vw, 15rem);
  padding-right: clamp(2rem, 10vw, 15rem);
}

 .hero {
       font-family: 'ClashGrotesk', sans-serif;
       font-weight: 600;
      color:white;
      font-size: 5rem;
      line-height: 1.2;
      margin: 3rem 0;
    }


    /* Make Bootstrap hamburger icon white */
.navbar-toggler {
  border: none; /* optional: removes the default border */
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%28255,255,255,1%29'     stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar .nav-link {
  color: white !important;  /* make links readable on white */
}
.menu{
    
    font-family: 'ClashGrotesk';
    font-weight: 500;
  }

.bottom-footer{
  margin-top:6rem;
   font-weight:750;
   padding-bottom:3rem;
}


.image-book{
  width: 100%;
}
/* ====== OPTIONAL MEDIA QUERIES (if you want explicit control) ====== */

/* Tablet */
@media (max-width: 1024px) {
  body {
    padding-left: 8rem;
    padding-right: 8rem;
  }
}

/* Mobile */
@media (max-width: 768px) {
  body {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  .logo{
   
    
  }
img{
  width:6rem;
}
  .hero{
    font-size: 2.5rem;
  }
  .menu{
    font-size:0.85rem;
    font-family: 'ClashGrotesk';
    font-weight: 500;
  }

.bottom-footer{
  margin-top:3rem;
}
  .footer-text{
    font-size:0.75rem;
    font-weight:750;
  }
}
