

    
   .image-book{
    width: 100%;
   }
    
    .gray-section {
      background-color: #e5e5e5;
      min-height: 200px;
    }
    
   
    .nav-dots {
      width: 40px;
      height: 8px;
      background-color: white;
      margin: 2px;
    }
    
    .nav-dots.small {
      width: 20px;
    }
    

    .hero{
      padding-bottom:7rem;
    }
    .main-title {
      font-size: 4rem;
      font-weight: 600;
      letter-spacing: 0.1em;
      margin: 2rem 0;
    }
    .link{
      color:#ffffff
    }
  
    .arrow-down {
      font-size: 10rem;
      margin: 1rem 0;
      color:white;
    }
    
    .manifesto-intro-text{
      color:white;
      font-size:1.25rem;
      font-weight:500;

    }
    .section-title {
      font-family: 'ClashGrotesk', sans-serif;
      font-size: 4rem;
      font-weight: 600;
      margin: 3rem 0 2rem 0;
      color: #E30613;
    }


    .manifesto-section{
      padding-top:1rem;
      padding-bottom:1rem;
    }


    .manifesto-item {
      border-top: 1px solid #E30613;
      padding-bottom: 2rem;
      padding-top:2rem;
      margin: 3rem 0;
    }
    
    .manifesto-number {
      font-size: 3rem;
      font-weight: bold;
      margin-bottom: 1rem;
      color: #E30613;
    }
    
    .manifesto-title {
      font-family: 'ClashGrotesk', sans-serif;
      font-size: 3rem;
      font-weight: 600;
      margin-bottom: 1rem;
      color: #E30613;
    }
    
    .manifesto-text {
      font-size: 1rem;
      line-height: 1.4;
      margin-bottom: 1rem;
      color: #E30613;
    }
    
    .learn-more {
      color:   #E30613;
      text-decoration: none;
      font-weight: 300;
      padding:1rem;
      font-size: 1rem;
    }
    
    .learn-more:hover {
      color:  #E30613;
    }
    
    .bottom-title {
      font-size: 3rem;
      font-weight: bold;
      letter-spacing: 0.1em;
      margin: 3rem 0;
    }
    
    .gray-box {
      background-color: #e5e5e5;
      height: 300px;
      width: 100%;
    }

     .button{
      font-family: 'Satoshi';
      font-weight: 600;
      background-color:white;
     border: 1px solid #E30613;
      padding:1rem;
      box-shadow: none;
      outline:none;
      appearance: none;
    -webkit-appearance: none;
      border-radius:5px;
      
    }

    .button:hover{
      font-family: 'Satoshi';
      background-color:#E30613;
     border: 1px solid white ;
      padding:1rem;
      box-shadow: none;
      outline:none;
      appearance: none;
    -webkit-appearance: none;
      border-radius:5px;
      transition: all 0.2s ease
    }

    .learn-more:hover{
      color:white;
      transition: all 0.2s ease
    }
    

    p{
      font-family: 'Satoshi';
      font-weight: 500;
    }
    .bottom-title{
      font-family: 'ClashGrotesk';
      font-weight: 600;
      font-size: 3rem;
    }
    .book-text{
      font-family: Satoshi;
      font-weight: 400;
      color:white;
      margin-top:2rem;
    }



    .bottom-footer{
      margin-top:2rem;
      padding:5rem;
      color:white;
      font-family: 'Satoshi';
    }


    @media (max-width: 1200px) and (min-width: 769px) {
  .main-title {
    font-size: 3rem;   /* smaller than desktop, bigger than mobile */
  }

  .section-title {
    font-size: 2.2rem;
  }

  .manifesto-title {
    font-size: 2rem;
  }

 

  .bottom-title {
    font-size: 2.5rem;
  }
}


    @media (max-width: 768px) {
      body{
        padding:0;
      }
      .main-title {
        font-size: 2.5rem;
      }
      
      .hero{
      padding-bottom:1rem;
    }
      
      .section-title {
        font-size: 2rem;
      }
      
      .manifesto-number {
        font-size: 2rem;
      }
      
      .manifesto-title {
        font-size: 1.5rem;
      }
      
      .bottom-title {
        font-size: 2rem;
      }

      .button{
        
        padding:0.5rem;
      }

      .learn-more{
        font-size:0.80rem;
      }

       .button:hover{
      background-color:#E30613;
     border: 1px solid white ;
      padding:0.5rem;
      box-shadow: none;
      outline:none;
      appearance: none;
    -webkit-appearance: none;
      border-radius:5px;
      transition: all 0.2s ease
    }

    .bottom-footer{
      margin-top:1rem;
      padding:1rem;
    }
    }




    /* education */
   